.brandColorPickerModal {
  top: 33%;
  & .ant-modal-body {
    padding: 0;
    & .colorPickerButtons {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-size-xs);
      margin-top: 14px;
      position: absolute;
      text-align: right;
      top: 100%;
      width: 100%;
      & .onebrand-button {
        margin-right: 9px;
        padding: 4% 12%;
        text-decoration: none;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
